<head>
    <script src="script.js"></script>
</head>

<body>
    <h1> Welcome to nyaa-si-watcher </h1>
    <ul>
        {{range .ContentHandler.Watching}}
        <li><b>{{.}}</b><button onclick="remove('watch', '{{.}}');">X</button></li>
        {{end}}
    </ul>
    <ul>
        {{range .ContentHandler.Announcer}}
        <li><b>{{.}}</b><button onclick="remove('email', '{{.}}')">X</button></li>
        {{end}}
    </ul>
    <input id="query" type="text" />
    <button onclick="request()">Ask</button>
    <button onclick="add('watch', document.getElementById('query').value)">Add New Watch</button>
    <button onclick="add('email', document.getElementById('query').value)">Add New Email</button>
</body>