<head>
    <script src="script.js"></script>
</head>

<body>
    <h1>Welcome to nyaa-si-watcher</h1>
    <h2>Watch List</h2>
    <table border="1">
        {{range .ContentHandler.Watching}}
		<tr>
            <td><b>{{.Query}}</b></td>
            <td><b>{{.Folder}}</b></td>
            <td><b>{{.User}}</b></td>
            <td><button onclick="removeWatch('{{.Query}}', '{{.}}', '{{.Query}}');">X</button></td>
		</tr>
        {{end}}
    </table>
    <h2>Emails</h2>
    <ul>
        {{range .ContentHandler.Announcer.TargetMails}}
        <li><b>{{.}}</b><button onclick="remove('email', '{{.}}')">X</button></li>
        {{end}}
    </ul>
    <a>User:</a>
    <input id="user" type="text" />
    <a>Query:</a>
    <input id="query" type="text" />
    <a>Folder:</a>
    <input id="folder" type="text" />
    <button onclick="request()">Ask</button>
    <button onclick="addWatch()">Add New Watch</button>
    <h2>Convenience Locations:</h2>
    <button onclick="document.getElementById('folder').value=this.innerHTML">/srv/torrents/HorribleSubs</button><br><br>
    <button onclick="document.getElementById('folder').value=this.innerHTML">/srv/torrents/Encoded</button>
</body>
